<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <img src="assets/images/Logo.png" style="height: 70px;" class='navbar-brand'>
    <div class="navbar-nav" style="font-size: 13pt;">
        <a class="nav-item nav-link">Home</a>
        <a class="nav-item nav-link" [routerLink]="['/adverts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homes for Sale</a>
        <a class="nav-item nav-link">Sell a House</a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse" style="color: darkgray;">
        <a class="nav-item nav-link" [routerLink]="['/login']" style="color: darkgray;">Login</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- SUB MENU -->
<nav class=" navbar navbar-expand navbar-light bg-light " *ngIf="user" style="font-size: 13pt;">
    <div class="navbar-nav " style=" color: darkgray;">
        <a class="nav-item nav-link " [routerLink]="['/my-adverts']">My Adverts</a>
        <a class="nav-item nav-link ">My Profile</a>
        <a class="nav-item nav-link ">Buy a House</a>
        <a class="nav-item nav-link ">Sell a House</a>
        <a class="nav-item nav-link ">Manage my Account</a>
        <a class="nav-item nav-link ">My Seller Profile</a>
        <a class="nav-item nav-link ">Favourite Houses</a>
    </div>
    <div class="collapse navbar-collapse justify-content-end " id="navbarCollapse " style="color: darkgray;" *ngIf="">
        <a class="nav-item nav-link ">User Management</a>
        <a class="nav-item nav-link ">Advert Managment</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container ">
    <router-outlet></router-outlet>
    <br>
    <br>
</div>

<!-- FOOTER -->
<div class="navbar navbar-expand navbar-light bg-light " style="font-size: 13pt; height: 110px;">
    <div class="navbar-nav ">
        <a class="nav-item nav-link ">Footer</a>
        <a class="nav-item nav-link " [routerLink]="['/adverts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homes for Sale</a>
        <a class="nav-item nav-link ">Sell a House</a>
    </div>
</div>